.banner{
    display: flex;
}

.banner .banner-left, .banner-right{
    display: flex;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid #000 2px;
}

.banner-left{
    width: 70%;
    background-image: url(/assets/img/banner-left.webp);
}

.banner-right{
    width: 30%;
    background-position: center;
    background-image: url(/assets/img/banner-right.jpeg);
}
