.description{
    overflow: auto;
    box-sizing: border-box;
    display: block;
    width: 50%;

    line-height: 25px;
    font-weight: 300;
    font-size: 20px;
    color: #fff;
    text-align: justify;
    margin-top: 0;
}