.nodeList{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    overflow: hidden;
}

.nodeList .main-subtitle.-year{
    text-shadow: none;
    margin-bottom: 20px;
}