.button{
    font-size: 16px;
    height: 14px;
    width: 90px;
    color: #fff;
    display: inline-block;
    align-items: center;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    background: #00b4d8;
    box-shadow: 4px 4px black;
    transition: linear 80ms;
}

.button:hover{
    transform: scale(1.01);
    box-shadow: none;
}