.about-carousel{
    position: relative;
    justify-content: flex-start;
    display: flex;
}

.about-carousel figure{
    display: flex;
    align-items: flex-start;
}

.about-carousel img{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.node-card-img::before{
    box-sizing: border-box;
    position: absolute;
    content: "";
    height: 3px;
    width: 80.9%;
    background-color: #000;
    top: 40px;
}

.carousel-image{
    width: 150px;
    height: 150px;
    border: solid #000;
    margin-bottom: 30px;
}

.carousel-image.variable{
    background-color: #fff;
    width: 100px;
    height: 100px;
}

.about-button{
    position: relative;
    top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 30px;
    cursor: pointer;
    border: none;
}

.about-button::before{
    display: block;
    width: 15px;
    height: 15px;
    content: '';
    box-sizing: border-box;
    border: 15px solid transparent;
    border-right: 28px solid #fff;
    transform: translateX(-9px);
}

.button-right::before{
    transform: rotate(180deg) translateX(-9px);
}


.node-card{
    display: flex;
    align-items: center;
}

.node-card figcaption{
    text-shadow: none;
    margin-bottom: 20px;
}

.about-carousel .content{
    display: none;
}

.node-card-img{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.node-card-img::after{
    box-sizing: border-box;
    position: relative;
    display: flex;
    content: "";
    height: 17px;
    border: dashed #000 2.2px;
    bottom: 210px;
}

.node-card-img.variable::after{
    bottom: 160px;
}

.node-card-img .subtitle{
    font-size: 15px;
}

