.section {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 730px;
}

.section.-skills-banner {
  justify-content: center;
  flex-direction: column;
  background-color: #00b4d8;
  border-bottom: 10px #0077b6 solid;
}

.section.-projetos-banner {
  align-items: normal;
  justify-content: center; 
  background-color: #000;
}
